body {
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    color: red
}

.text {
    color: blue
}

.menu > a {
    color: green
}

.container {
    padding: 15px
}

.img-profile {
    width: 150px
}